<footer>
  <div class="tFooter">
    <div class="container text-center text-white">
      <div class="row gy-3">
        <div class="col-md-4 p-3">
          <h3>LOCATION</h3>
          <p>2215 John Daniel Drive</p>
          <p>Clark, MO 65243</p>
        </div>
        <div class="col-md-4 p-3">
          <h3>AROUND THE WEB</h3>
          <div class="icons d-flex justify-content-center">
            <span><i class="fa-brands fa-facebook"></i></span>
            <span><i class="fa-brands fa-twitter"></i></span>
            <span><i class="fa-brands fa-linkedin"></i></span>
            <span><i class="fa-solid fa-globe"></i></span>
          </div>
        </div>
        <div class="col-md-4 p-3">
          <h3>ABOUT FREELANCER</h3>
          <p class="px-2">
            Freelance is a free to use, licensed Bootstrap theme created by
            Route
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="bFooter text-white text-center py-2">
    <p class="py-2">Copyright © Your Website 2021</p>
  </div>
</footer>
