.container{
    padding-top: 90px;
}
.about{
    background-color: #1ABC9C;
    min-height: 95vh;
}
.about .icon{
    width: fit-content;
}
.about .icon::after{
    content: "";
    width: 80px;
    height: 4px;
    background-color: #fff;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
}
.about .icon::before{
    content: "";
    width: 80px;
    height: 4px;
    background-color: #fff;
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
}