<section class="contact">
    <div class="container">
        <div class="row pt-5">
            <h2 class="my-2 py-2 fs-1 fw-bold text-center mColor">CONATCT SECTION</h2>
            <div class="icon mx-auto position-relative"><i class="fa fa-star my-2"></i></div>
        </div>
        <div class="row gy-3 py-5">
            <div class="col-12">
                <input class="form-control w-50 mx-auto my-4 shadow-none border-0 rounded-2 border-bottom" type="text" placeholder="userName">
            </div>
            <div class="col-12">
                <input class="form-control w-50 mx-auto mb-4 shadow-none border-0 rounded-2 border-bottom" type="number" placeholder="userAge">
            </div>
            <div class="col-12">
                <input class="form-control w-50 mx-auto mb-4 shadow-none border-0 rounded-2 border-bottom" type="email" placeholder="userEmail">
            </div>
            <div class="col-12">
                <input class="form-control w-50 mx-auto mb-4 shadow-none border-0 rounded-2 border-bottom" type="password" placeholder="userPassword">
            </div>
            <div class="col-12">
                <div class="w-50 mx-auto mb-4">
                    <button class="btn mBgColor text-white w-auto">Send Message</button>
                </div>
            </div>

        </div>
    </div>
</section>