<section class="startFrameworck d-flex justify-content-center align-items-center">
    <figure class="mb-0 text-center text-white mx-auto">
        <img src="../../assets/imgs/avataaars.svg" class="mb-2" alt="Start Frameworck photo">
        <figcaption>
            <h2 class="my-2 py-2 fs-1 fw-bold">START FRAMEWORK</h2>
            <div class="icon mx-auto position-relative"><i class="fa fa-star my-2"></i></div>
            <p class="mb-0">Graphic Artist - Web Designer - Illustrator</p>
        </figcaption>
    </figure>
</section>
